@font-face {
	font-family: OpenSans; /* Имя шрифта */
    src: url(fonts/OpenSans-Bold.ttf); /* Путь к файлу со шрифтом */
	font-weight: 700;
}
@font-face {
	font-family: OpenSans; /* Имя шрифта */
    src: url(fonts/OpenSans-SemiBold.ttf); /* Путь к файлу со шрифтом */
	font-weight: 600;
}
.maintitle h1{
	display:block;
	font-family:OpenSans;
	font-weight: 700;
	font-size:27px;
	padding-left:30px;
	margin:0px 0px 0px 0px ;
	color:black;
}
.maindata h1{
	display:block;
	font-family:OpenSans;
	font-weight: 700;
	font-size:27px;
	padding: 15px 90px;
    border-radius: 15px;
	margin:15px auto ;
	color:white;
	background-color:#3EC5CE;
	max-width:586px;
	width:100%;
	text-align:center;
	box-shadow: 0px 10px 45px rgba(0,0,0,0.2);
}
.listBox{
	width:100%;
	max-width:586px;
	border-radius: 15px;
	padding: 50px;
	box-shadow: 0px 5px 45px rgba(0,0,0,0.5);
	
}
.checkbox{
	margin:15px auto;
}
.listBox span {
	font-family:OpenSans;
	font-weight: 600;
	font-size:18px;
}
.value_cost{
	float:right;
	
}
.sumbox{
	float:right;
	font-family:OpenSans;
	font-weight: 700;
	font-size:20px;
	
}
.sum_costs{
	display:block;
	border: 0.5px solid #C6C6C6;
	border-bottom: 0px;
	border-left: 0px;
	border-right: 0px;
	width:100%;
	text-align:right;
	font-family:OpenSans;
	font-weight: 700;
	font-size:21px;
}

.addBTN{
	color:white;
	background-color:#0FB986;
	font-family:OpenSans;
	font-weight: 600;
	font-size:20px;
	background-image:url(../img/plus-1.png);
	background-position: 15px center;
	background-repeat:no-repeat;
	background-size: 30px;
	padding:15px 65px;
	padding-right:20px;
	border: 0px;
	border-radius: 37px;
	margin:30px 30px;
	box-shadow: 5px 5px 8px rgba(58, 58, 58, 0.17);
}
.delBTN{
	color:white;
	background-color:#F33759;
	font-family:OpenSans;
	font-weight: 600;
	font-size:20px;
	background-image:url(../img/bin-1.png);
	background-position: 15px center;
	background-repeat:no-repeat;
	background-size: 30px;
	padding:15px 65px;
	padding-right:20px;
	border: 0px;
	border-radius: 37px;
	margin:30px 30px;
	box-shadow: 5px 5px 8px rgba(58, 58, 58, 0.17);
	
}
.addBTN:hover,.delBTN:hover{
	background-color:#3EC5CE;
}

.box{
	max-width:1000px;
	margin:0px auto;
}
.left_box{
	float:left;
	padding:60px 15px;
	max-width: 336px;
}
.right_box{
	float:right;
	width:100%;
	max-width:586px;
}
.PopUpBox{
	display:none;
	position:absolute;
	width: 304px;
	height: 70px;
	background: #FFFFFF;
	box-shadow: 4px 4px 23px rgba(0, 0, 0, 0.19);
	border-radius: 20px;
}
.inp_name , .inp_price{
	width: 112px;
    padding: 5px;
    margin: 20px;
    border: 0px;
	background: #FFFFFF;
	box-shadow: 4px 4px 23px rgba(0, 0, 0, 0.19);
	border-radius: 5px;
	font-family:OpenSans;
	font-weight: 600;
	font-size:14px;
	color:black;
}
.inp_name:placefolder , .inp_price:placefolder{
	color: #C6C6C6
}


.checkbox > input[type="checkbox"] {
    height: 15px;
    width: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: 1px solid #C6C6C6;
    border-radius: 50%;
    outline: none;
    transition-duration: 0.3s;
    background-image: radial-gradient(transparent 0%, transparent 10%);
    cursor: pointer;
	margin:0px;
	margin-right:5px;
}

.checkbox > input[type="checkbox"]:checked {
    border: 1px solid #C6C6C6;
    background-image: radial-gradient(#F33759 60%, transparent 10%);
}

.checkbox > input[type="checkbox"]:active {
    border: 1px solid #C6C6C6;
	background-image: radial-gradient(#F33759 60%, transparent 10%);
}
.ControlBox{
	position:relative;
}
.titleFilters h1{
	font-family:OpenSans;
	font-weight: 700;
	font-size:23px;
}
.Filter a{
	display:block;
	width: 210px;
	padding:10px 20px;
	background: white;
	box-shadow: 5px 5px 8px rgba(58, 58, 58, 0.17);
	border-radius: 11px;
	font-family: OpenSans;
	font-weight: 600;
	font-size: 20px;
	margin:15px 0px;
	margin-left:15px;
	text-decoration:none;
	color:black
}
.Filter a:hover{
	background: #3A3A3A;
	text-decoration:none;
	color:white;
}

@media screen and (max-width: 1001px) {
	.left_box , .right_box{
		float:none;
		margin:0px auto;
		
	}
	.box{
		max-width:600px;
	margin:0px auto;}
	
	
	
	
}
@media screen and (max-width: 600px) {
	.box{
		max-width:310px;
	margin:0px auto;}
	
	.maindata h1 {
		
		padding: 15px 15px;
	}
	
	
}
